<form method="GET" action="/quizes/<%= quiz.id %>/answer">
  Pregunta: <%= quiz.pregunta %> <p>
  <input type="text" name="respuesta" value="Responda aquí"/>
  <input type="submit" value="Enviar" />
</form>
<br>
<p><strong>Comentarios:</strong></p>
<% for(index in quiz.comments){ %>
  <% if(session.user || quiz.comments[index].publicado){ %>
    <p>- <%= quiz.comments[index].texto %>
    <% if(session.user && !quiz.comments[index].publicado){ %>
      <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.comments[index].id %>/publish">
        <button>Publicar</button>
      </a>
    <% } %>
  <% } %>
<% } %>
<p><a href="/quizes/<%= quiz.id %>/comments/new">
  <button>Nuevo Comentario</button>
</a></p>
