<table>
  <tr><td colspan=2>Estadísticas:</td></tr>
  <tr><td class="item">Número de Preguntas:</td>
      <td class="value"><%= stats.nPreguntas %></td></tr>
  <tr><td class="item">Número de Comentarios:</td>
      <td class="value"><%= stats.nComentarios %></td></tr>
  <tr><td class="item">Media de Comentarios por Pregunta:</td>
      <td class="value"><%= stats.nMediaComentPregunta %></td></tr>
  <tr><td class="item">Preguntas sin Comentarios:</td>
      <td class="value"><%= stats.nPreguntasSinComentario %></td></tr>
  <tr><td class="item">Preguntas con Comentarios:</td>
      <td class="value"><%= stats.nPreguntasConComentario %></td></tr>
</table>
